<div class="container py-6">
	<TypographyP>
		Built by <InlineLink href="https://twitter.com/wes_walke" target="_blank">Weston Walker</InlineLink>. Source code available on <InlineLink href="https://github.com/spark-dotnet/spark.ui" target="_blank">GitHub</InlineLink> .
	</TypographyP>
</div>