@inherits LayoutComponentBase

<div class="relative flex min-h-screen flex-col">
    <header class="sticky top-0 z-50 w-full border-b">
        <NavBar />
    </header>
    <main class="flex-1">
        <div class="container relative">
            @Body
        </div>
    </main>
</div>