@page "/docs/components/cards"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Typography
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Typography
	</TypographyH1>
	<TypographyLead>
		Styles for headings, paragraphs, lists, etc...
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<Card class="w-[350px]">
		<CardHeader>
			<CardTitle>Create project</CardTitle>
			<CardDescription>Deploy your new project in one-click.</CardDescription>
		</CardHeader>
		<CardContent>
			<form>
				<div class="grid w-full items-center gap-4">
					<div class="flex flex-col space-y-1.5">
						<label for="name">Name</label>
						<Input @bind-Value="Test" id="name" placeholder="Name of your project" />
					</div>
				</div>
			</form>
		</CardContent>
		<CardFooter class="flex justify-between">
			<Button Variant="ButtonVariant.Outline">Cancel</Button>
			<Button>Deploy</Button>
		</CardFooter>
	</Card>
</div>

@code {
	public string Test { get; set; }
}