@page "/docs/components/heading2"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Heading 2
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Heading 2
	</TypographyH1>
	<TypographyLead>
		Style for the h2 element
	</TypographyLead>
</div>
<div class="pb-12 pt-8">

	<ComponentPreview>
		<ComponentPreviewRendered>
			<TypographyH2>
				Lorem Ipsum
			</TypographyH2>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<TypographyH2>
	Lorem Ipsum
</TypographyH2>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>