@page "/docs/components/typography"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Typography
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Typography
	</TypographyH1>
	<TypographyLead>
		Styles for headings, paragraphs, lists, etc...
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<ComponentPreview>
		<ComponentPreviewRendered>
			<TypographyH1>
				Lorem Ipsum
			</TypographyH1>
			<TypographyP>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula viverra aliquet. Nam vel dolor nec nisl volutpat fringilla.
			</TypographyP>
			<TypographyH2>
				Etiam Mollis
			</TypographyH2>
			<TypographyP>
				Etiam mollis purus eu orci venenatis, vitae finibus tortor viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et venenatis felis.
			</TypographyP>
			<Blockquote>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas."
			</Blockquote>
			<TypographyH3 class="mt-8">
				Suspendisse Potenti
			</TypographyH3>
			<TypographyP>
				Nulla at tincidunt ex. Integer sed nulla justo. Vestibulum a tortor a est vehicula laoreet id vel arcu.
			</TypographyP>
			<TypographyList>
				<li>
					Cras non purus
				</li>
				<li>
					Vivamus varius ultricies
				</li>
				<li>
					Ut ullamcorper
				</li>
			</TypographyList>
			<TypographyP>
				Etiam mollis purus eu orci venenatis, vitae finibus tortor viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et venenatis felis.
			</TypographyP>
			<TypographyH3 class="mt-8">
				Nulla At Tincidunt
			</TypographyH3>
			<TypographyP>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula viverra aliquet. Nam vel dolor nec nisl volutpat fringilla.
			</TypographyP>
			<TypographyTable />
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@(@"<div>
	<TypographyH1>
		Lorem Ipsum
	</TypographyH1>
	<TypographyP>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula viverra aliquet. Nam vel dolor nec nisl volutpat fringilla.
	</TypographyP>
	<TypographyH2>
		Etiam Mollis
	</TypographyH2>
	<TypographyP>
		Etiam mollis purus eu orci venenatis, vitae finibus tortor viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et venenatis felis.
	</TypographyP>
	<Blockquote>
		""Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.""
	</Blockquote>
	<TypographyH3 class="" mt-8"">
		Suspendisse Potenti
	</TypographyH3>
	<TypographyP>
		Nulla at tincidunt ex. Integer sed nulla justo. Vestibulum a tortor a est vehicula laoreet id vel arcu.
	</TypographyP>
	<TypographyList>
		<li>
			Cras non purus
		</li>
		<li>
			Vivamus varius ultricies
		</li>
		<li>
			Ut ullamcorper
		</li>
	</TypographyList>
	<TypographyP>
		Etiam mollis purus eu orci venenatis, vitae finibus tortor viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et venenatis felis.
	</TypographyP>
	<TypographyH3 class="" mt-8"">
		Nulla At Tincidunt
	</TypographyH3>
	<TypographyP>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula viverra aliquet. Nam vel dolor nec nisl volutpat fringilla.
	</TypographyP>
	<TypographyTable />
</div>");
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>