@page "/docs/components/label"
@layout DocsLayout

<PageTitle>Label component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Label
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Label
	</TypographyH1>
	<TypographyLead>
		Displays a label associated with controls
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyH2>
		Example
	</TypographyH2>
	<ComponentPreview>
		<ComponentPreviewRendered>
			<div class="space-y-1.5">
				<Label for="Name">
					Name
				</Label>
				<InputText type="text" @bind-Value="Name" id="Name" />
			</div>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<div class=""space-y-1.5"">
	<Label for=""Name"">
		Name
	</Label>
	<InputText type=""text"" @bind-Value=""Name"" id=""Name"" />
</div>

@code {{
	private string Name = """";
}}")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Input Group
	</TypographyH2>
	<TypographyP>
		The <InlineCode>InputGroup</InlineCode> component will display a label for you based on the <InlineCode>For</InlineCode> parameter.
	</TypographyP>
	<ComponentPreview>
		<ComponentPreviewRendered>
			<EditForm Model="Form" class="flex flex-col space-y-6" method="post" OnValidSubmit="Submit" FormName="profileForm3">
				<DataAnnotationsValidator />
				<InputGroup For="() => Form.Name">
					<InputText type="text" @bind-Value="Form.Name" id="Name" />
				</InputGroup>
				<div>
					<Button type="submit">Submit</Button>
				</div>
			</EditForm>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<EditForm Model=""Form"" class=""flex flex-col space-y-6"" OnValidSubmit=""Submit"">
	<DataAnnotationsValidator />
	<InputGroup For=""() => Form.Name"">
		<InputText type=""text"" @bind-Value=""Form.Name"" id=""Name"" />
	</InputGroup>
	<div>
		<Button type=""submit"">Submit</Button>
	</div>
</EditForm>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Checkbox Label
	</TypographyH2>
	<TypographyP>
		Checkbox labels typically come after the <InlineCode>InputCheckbox</InlineCode> component.
	</TypographyP>
	<ComponentPreview>
		<ComponentPreviewRendered>
			<div class="flex items-center space-x-2">
				<InputCheckbox @bind-Value="IsSelected" id="terms" />
				<Label for="terms">
					Accept terms and conditions
				</Label>
			</div>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<div class=""flex items-center space-x-2"">
	<InputCheckbox @bind-Value=""IsSelected"" id=""terms"" />
	<Label for=""terms"">
		Accept terms and conditions
	</Label>
</div>

@code {{
	private bool IsSelected = false;
}}")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>

@code {
	private string Name = "";
	private bool IsSelected = false;
	[SupplyParameterFromForm] public ProfileForm Form { get; set; }
	protected override void OnInitialized() => Form ??= new();

	public void Submit()
	{
		Form = new();
	}

	public class ProfileForm
	{
		[Required]
		public string Name { get; set; }
		[Required]
		public string Email { get; set; }
	}
}