@page "/docs/components/validation-message"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Validation Message
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Validation Message
	</TypographyH1>
	<TypographyLead>
		Displays a validation message for a input control
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<ComponentPreview>
		<ComponentPreviewRendered>
			<div class="flex flex-col space-y-4">
				<div class="grid w-full max-w-sm items-center gap-2">
					<Label for="email">Email</Label>
					<InputText type="email" @bind-Value="Email" id="email" placeholder="Email" />
					<div class="validation-message">
						Required
					</div>
				</div>
				<Button type="submit">Submit</Button>
			</div>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
				@($@"
<EditForm Model=""Email"" class=""flex flex-col space-y-4"">
	<div class=""grid w-full max-w-sm items-center gap-2"">
		<Label for=""email"">Email</Label>
		<InputText type=""email"" @bind-Value=""Email"" id=""email"" placeholder=""Email"" />
		<ValidationMessage For""() => Email""
	</div>
	<Button type=""submit"">Submit</Button>
</div>

@code {{
	private string Email = """";
}}
")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>


@code {
	private string Email = "";
}