<div class="my-6 w-full overflow-y-auto">
    <table class="w-full">
        <thead>
            <tr class="m-0 border-t p-0 even:bg-muted">
                <th class="border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right">
                    Vestibulum Vitae Nisl
                </th>
                <th class="border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right">
                    Erat Voluptatem
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="m-0 border-t p-0 even:bg-muted">
                <td class="border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right">
                    Etiam
                </td>
                <td class="border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right">
                    Tellu
                </td>
            </tr>
            <tr class="m-0 border-t p-0 even:bg-muted">
                <td class="border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right">
                    Proin
                </td>
                <td class="border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right">
                    Aliquam
                </td>
            </tr>
            <tr class="m-0 border-t p-0 even:bg-muted">
                <td class="border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right">
                    Erat
                </td>
                <td class="border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right">
                    Voluptatem
                </td>
            </tr>
        </tbody>
    </table>
</div>