@page "/docs/components/avatar"
@layout DocsLayout

<PageTitle>Avatar component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Avatar
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Avatar
	</TypographyH1>
	<TypographyLead>
		An image element to display a user's avatar
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyH2>
		Example
	</TypographyH2>
	<ComponentPreview>
		<ComponentPreviewRendered>
			<Avatar>
				<AvatarImage src="https://github.com/spark-dotnet.png" />
			</Avatar>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<Avatar>
	<AvatarImage src=""https://github.com/spark-dotnet.png"" />
</Avatar>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>