@page "/docs/components/card"
@layout DocsLayout

<PageTitle>Card component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Card
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Card
	</TypographyH1>
	<TypographyLead>
		Displays a card with header, content, and footer.
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyH2>
		Example
	</TypographyH2>
	<ComponentPreview>
		<ComponentPreviewRendered>
			<Card class="w-[350px]">
				<CardHeader>
					<CardTitle>
						Sign in to your account
					</CardTitle>
					<CardDescription>
						Not a member? <InlineLink href="/docs/components/card">Start a 7 day free trial</InlineLink>
					</CardDescription>
				</CardHeader>
				<CardContent>
					<form>
						<div class="grid w-full items-center gap-4">
							<div class="flex flex-col space-y-1.5">
								<label for="email">Name</label>
								<InputText @bind-Value="Test" id="email" />
							</div>
							<div class="flex flex-col space-y-1.5">
								<label for="password">Name</label>
								<InputText @bind-Value="Test" id="password" />
							</div>
						</div>
						<div class="flex flex-col space-y-1.5 mt-6">
							<Button>Sign In</Button>
						</div>
					</form>
				</CardContent>
				<CardFooter>
					Don't' have an account?&nbsp;
					<InlineLink href="/docs/components/card">Sign up</InlineLink>
				</CardFooter>
			</Card>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<Card class=""w-[350px]"">
	<CardHeader>
		<CardTitle>
			Sign in to your account
		</CardTitle>
		<CardDescription>
			Not a member? <InlineLink href=""/docs/components/card"">Start a 7 day free trial</InlineLink>
		</CardDescription>
	</CardHeader>
	<CardContent>
		<form>
			<div class=""grid w-full items-center gap-4"">
				<div class=""flex flex-col space-y-1.5"">
					<label for=""email"">Name</label>
					<Input @bind-Value=""Form.Email"" id=""email"" />
				</div>
				<div class=""flex flex-col space-y-1.5"">
					<label for=""password"">Name</label>
					<Input @bind-Value=""Form.Password"" id=""password"" />
				</div>
			</div>
			<div class=""flex flex-col space-y-1.5 mt-6"">
				<Button>Sign In</Button>
			</div>
		</form>
	</CardContent>
	<CardFooter>
		Don't' have an account?&nbsp;
		<InlineLink href=""/docs/components/card"">Sign up</InlineLink>
	</CardFooter>
</Card>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>

@code {
	public string Test { get; set; } = "";
}