@page "/docs/components/inline-link"
@layout DocsLayout

<PageTitle>Inline link component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Inline Link
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Inline Link
	</TypographyH1>
	<TypographyLead>
		Style for a inline link
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<ComponentPreview>
		<ComponentPreviewRendered>
			<TypographyP>
				Donec eu tellus eu urna 
				<InlineLink href="/docs/components/inline-link">
					dignissim
				</InlineLink>
				iaculis vel eget nisl.
			</TypographyP>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<TypographyP>
	Donec eu tellus eu urna
	<InlineLink href=""/docs/components/inline-link"">
		dignissim
	</InlineLink>
	iaculis vel eget nisl.
</TypographyP>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>