@page "/docs/components/inline-code"
@layout DocsLayout

<PageTitle>Inline code component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Inline Code
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Inline Code
	</TypographyH1>
	<TypographyLead>
		Style for the code element
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<ComponentPreview>
		<ComponentPreviewRendered>
			<TypographyP>
				Run 
				<InlineCode>
					 dotnet build
				</InlineCode>
				to get started
			</TypographyP> 
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<TypographyP>
	Run
	<InlineCode>
		dotnet build
	</InlineCode>
	to get started
</TypographyP> ")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>