@page "/docs/components/muted"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Muted
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Muted
	</TypographyH1>
	<TypographyLead>
		Style for a p element with light colors and small text
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<ComponentPreview>
		<ComponentPreviewRendered>
			<TypographyMuted>
				Etiam sodales arcu vel lacinia cursus.
			</TypographyMuted>
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<TypographyMuted>
	Etiam sodales arcu vel lacinia cursus.
</TypographyMuted>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>