@page "/docs/components/table"
@layout DocsLayout

<PageTitle>Table component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Table
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Table
	</TypographyH1>
	<TypographyLead>
		Style for the table element
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<ComponentPreview>
		<ComponentPreviewRendered>
			<TypographyTable />
		</ComponentPreviewRendered>
		<ComponentPreviewCode>
			<CodeExample>
@($@"<TypographyTable />")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>