@page "/docs/customization"
@layout DocsLayout

<PageTitle>
	Customizing spark.ui components - spark.ui
</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Customization
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Customization
	</TypographyH1>
	<TypographyLead>
		How to customize spark.ui components
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyP>
		We purposefully made our components easy to customize.
	</TypographyP>
	<TypographyP>
		This is why you install the source code of the components rather than downloading a Nuget of compiled code.
	</TypographyP>
	<TypographyH2>
		Customizing Styles
	</TypographyH2>
	<TypographyP>
		TODO
	</TypographyP>
</div>