@page "/"

<PageTitle>Beautiful Blazor Components based on the Shadcn Component Library - spark.ui</PageTitle>

<section class="flex max-w-[980px] flex-col items-start gap-2 px-4 pt-8 md:pt-12 pb-8">
	<TypographyH1>
		Beautiful Blazor Components
	</TypographyH1>
	<TypographyLead class="max-w-lg">Blazor components you can copy and paste into your apps. Simple. Customizable. Open Source.</TypographyLead>
	<div class="flex w-full items-center space-x-4 pb-8 pt-4 md:pb-10">
		<ButtonLink href="/docs/introduction" Variant="ButtonVariant.Default">
			Get Started
		</ButtonLink>
		<ButtonLink href="https://github.com/spark-dotnet/spark.ui" Variant="ButtonVariant.Outline" target="_blank">
			GitHub
		</ButtonLink>
	</div>
</section>