@page "/docs/introduction"
@layout DocsLayout

<PageTitle>
	Component library for Blazor - spark.ui
</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Introduction
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Introduction
	</TypographyH1>
	<TypographyLead>
		Re-usable Blazor components built using Tailwind CSS
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyP>
		spark.ui is a collection of re-usable Razor components that you can copy and paste into your Blazor applications.
	</TypographyP>
	<TypographyP>
		Built using Tailwind CSS and heavily inspired by the <InlineLink href="https://ui.shadcn.com/" target="_blank">shadcn</InlineLink> component library.
	</TypographyP>
	<TypographyH2>
		Our Philosophy
	</TypographyH2>
	<TypographyP>
		Most Blazor component libraries compile their components and then make you learn their APIs to use them.
	</TypographyP>
	<TypographyP>
		spark.ui doesn't do that.
	</TypographyP>
	<TypographyP>
		Instead, our source code is meant to be copied into your project. From their, you own the code.
	</TypographyP>
	<TypographyH2>
		Installing spark.ui
	</TypographyH2>
	<TypographyP>
		Follow the <InlineLink href="/docs/installation">installation</InlineLink> guide to get started.
	</TypographyP>
</div>