@page "/docs/installation"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Installation
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Installation
	</TypographyH1>
	<TypographyLead>
		How to install Spark.UI
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyH3>
		1. Add Tailwind CSS to your Blazor project
	</TypographyH3>
	<TypographyP>
		Components are styled using Tailwind CSS and a customized <InlineCode>tailwind.config.js</InlineCode> file. You will need to install Tailwind CSS in your project.
	</TypographyP>
	<TypographyH3 class="mt-10">
		2. Configure tailwind.config.js
	</TypographyH3>
	<TypographyP>
	</TypographyP>
	<TypographyH3 class="mt-10">
		3. Configure styles
	</TypographyH3>
	<TypographyP>
	</TypographyP>
	<TypographyH3 class="mt-10">
		4. Copy component files
	</TypographyH3>
	<TypographyP>
	</TypographyP>
	<TypographyH3 class="mt-10">
		5. Add css file reference
	</TypographyH3>
	<TypographyP>
	</TypographyP>
	<TypographyH3 class="mt-10">
		6. Start tailwind watch
	</TypographyH3>
	<TypographyP>
	</TypographyP>
</div>
