@page "/docs/introduction"
@layout DocsLayout

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Introduction
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Introduction
	</TypographyH1>
	<TypographyLead>
		Re-usable Blazor components built using Tailwind CSS
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyP>
		Spark.UI is a collection of re-usable Razor components that you can copy and paste into your Blazor applications.
	</TypographyP>
	<TypographyP>
		Built using Tailwind CSS and heavily inspired by the <InlineLink href="https://ui.shadcn.com/" target="_blank">shadcn</InlineLink> component library. No dependency is required. Pick the components you need (or all of them) and customize as you see fit.
	</TypographyP>
	<TypographyP>
		Follow the <InlineLink href="/docs/installation">installation</InlineLink> guide to get started.
	</TypographyP>
</div>